<section>
  <h1>The Hiltmon</h1>
  <p><strong>Hilton Lipschitz</strong> (<a href="http://twitter.com/hiltmon">@hiltmon</a>) is an independent software consultant, designer and developer at <a href="http://www.noverse.com">Noverse LLC</a>, who loves to craft brilliant and delightful web, iPhone, iPad and Macintosh software products for clients.</p>
  <p><a href="https://secure.buyreply.net/Order/MicroCart/hiltmon?DONATE=1" target="_blank"><img class="left" src="/images/buyreply-arrow.png" width="22" height="22" style="border:0;margin-right:6px;">Support with a Donation</a></p>
  <h2>Products &amp; Sites</h2>
  <ul id="hiltmon_links">
    <li>
      <a href="http://www.kifuapp.com">{% img left /images/kifu-44.png 44 44 %}</a>
      <a href="http://www.kifuapp.com">Kifu</a>
      <p>Simplifying Non-Profit Management</p>
    </li>
    <li>
      <a href="{{ root_url }}/timetocall/">{% img left /images/timetocall-44.png 44 44 %}</a>
      <a href="{{ root_url }}/timetocall/">TimeToCall</a>
      <p>Choose the best time to call overseas.</p>
    </li>
    <li>
      <a href="http://www.noverse.com">{% img left /images/noverse-44.png 44 44 %}</a>
      <a href="http://www.noverse.com">Noverse LLC</a>
      <p>Me and my company, working with you to make great stuff</p>
    </li>
  </ul>
</section>
