<section>
  <h1>The Hiltmon</h1>
  <p><strong>Hilton Lipschitz</strong> (<a href="http://twitter.com/hiltmon">@hiltmon</a>) is an independent software consultant, designer and developer at <a href="http://www.noverse.com">Noverse LLC</a>, who loves to craft brilliant and delightful web, iPhone, iPad and Macintosh software products for clients.</p>
  <p><a href="https://secure.buyreply.net/Order/MicroCart/hiltmon?DONATE=1" target="_blank"><img class="left" src="/images/buyreply-arrow.png" width="22" height="22" style="border:0;margin-right:6px;">Support with a Donation</a></p>
  <h4>Follow @hiltmon on</h4>
  <p>
	  <a href='https://twitter.com/hiltmon' rel='me' target="_blank"><img class="left" src="/images/twitter.png" width="40" height="40" style="border:0;margin-right:6px;" alt="@hiltmon on Twitter"></a>
	  <a href='https://alpha.app.net/hiltmon' rel='me' target="_blank"><img class="left" src="/images/app-net-logo.png" width="40" height="40" style="border:0;margin-right:6px;" alt="@hiltmon on App.Net"></a>
	  <a href='https://facebook.com/hiltmoncom' rel='me' target="_blank"><img class="left" src="/images/facebook-logo.png" width="40" height="40" style="border:0;margin-right:6px;" alt="HiltmonCom on Facebook"></a>
	  <a href='http://www.linkedin.com/in/hiltmon/' rel='me' target="_blank"><img class="left" src="/images/linkedin-logo.png" width="40" height="40" style="border:0;margin-right:6px;" alt="Hiltmon on Linked-In"></a>
	  <a href='https://plus.google.com/113086997418205675032' rel='me' target="_blank"><img src="/images/google-plus.png" width="40" height="40" style="border:0;margin-right:6px;" alt="HiltmonCom on Google Plus"></a>
  </p>
  <h2>Products &amp; Sites</h2>
  <ul id="hiltmon_links">
    <li>
      <a href="http://www.kifuapp.com">{% img left /images/kifu-44.png 44 44 %}</a>
      <a href="http://www.kifuapp.com">Kifu</a>
      <p>Simplifying Non-Profit Management</p>
    </li>
    <li>
      <a href="{{ root_url }}/timetocall/">{% img left /images/timetocall-44.png 44 44 %}</a>
      <a href="{{ root_url }}/timetocall/">TimeToCall</a>
      <p>Choose the best time to call overseas.</p>
    </li>
    <li>
      <a href="http://www.noverse.com">{% img left /images/noverse-44.png 44 44 %}</a>
      <a href="http://www.noverse.com">Noverse LLC</a>
      <p>Me and my company, working with you to make great stuff</p>
    </li>
  </ul>
</section>
