body > header {
  background: $header-bg;
  background: inline-image('hiltmon-logo-174.png') left top no-repeat;
  h1 {
    display: inline-block;
    margin: 0;
	text-shadow: lighten($header-bg, 12) 2px 2px;
	font-weight: bold;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
	text-shadow: lighten($header-bg, 12) 1px 1px;
  }
}
