// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
//body {
//    -webkit-font-smoothing:antialiased;
//}

#fusion_ad {
  width: 160px;
  float: right;
//  margin-top: 10px;
//  margin-right: 24px;
}

#fusion_ad a.fusiontext {
  display: block;
  color: white;
  font-size: 12px;
  line-height: 14px;
//  letter-spacing: 1px;
  text-decoration: none;
}

#fusion_ad a.poweredby {
  color: #9e9e9e;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.dark-product {
  background-color: #333333;
  color: #FFF;
  
  a {
    color: #7ca9d1;
  }
  
  h1 {
    color: lighten($header-bg, 75);
  }
  
  img {
    border: 0;
  }
}